.bookings__room__list {
  margin: 20px 0;
}

.room__list__item__wrapper {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  background-color: var(--gray-0);
  overflow: hidden;

  & * {
    color: var(--text-color-9);
    font-size: 17px;
  }
}

.item__img__wrapper {
  position: relative;
  width: 100%;
  height: var(--image-height);
  object-fit: contain;
}

.item__img__tag {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item__img__overlay__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.2s ease;
  overflow: hidden;

  .room__list__item__wrapper:hover & {
    width: 100%;
  }
}

.item__img__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.206);
}

.item__detail__wrapper {
  position: relative;
  height: calc(100% - var(--image-height));
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__img__classification--img {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  right: 10px;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.item__detail__name {
  display: flex;
  align-items: center;
  & * {
    font-family: EncodeSans-SemiBold;
  }
}

.label {
  font-family: EncodeSans-Semibold;
}

.value {
  font-family: EncodeSans-Semibold;
}

.item__detail__name--value {
  margin-left: 10px;
  color: var(--value-color-1);
}

.item__detail__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__detail__desc__type {
  font-family: EncodeSans-Semibold;
  color: var(--value-color-1);
}

.item__detail__desc__classification {
  font-family: EncodeSans-Semibold;
  color: var(--value-color-1);
}

.item__detail__price {
  display: flex;
  align-items: center;
}

.item__detail__price__label {
  font-size: 16px;
}

.item__detail__price__value {
  margin-left: 10px;
  font-size: 15px;
  color: var(--value-color-2);
}

.separator {
  margin: 3px 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-2);
}

.item__detail__rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__detail__rate--avg {
  display: flex;
  align-items: center;
}

.item__detail__rate--avg__img {
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

.item__detail__rate--quantity {
  font-size: 14px;
  margin-left: auto;
}
