.comments__wrapper {
  width: 100%;

  .comments__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .comments__header__title {
      font-family: EncodeSans-Semibold;
      font-size: 20px;
    }

    .comments__header__rate__wrapper {
      display: flex;
      align-items: center;

      & * {
        font-family: EncodeSans-Semibold;
        font-size: 17px;
      }

      .comments__header__rate__quantity {
        margin-left: auto;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: EncodeSans-Semibold;
        color: var(--text-color-7);
      }

      .comments__header__rate__quantity__text {
        margin-left: 25px;
      }

      .comments__header__rate__quantity__img {
        margin-left: 5px;
        height: 20px;
        width: 20px;
      }
    }
  }

  .comments--main__wrapper {
    .comment--main__signin__btn {
      margin-top: 20px;
    }

    .comments--main__comment__list {
      margin-top: 20px;
      padding: 10px 0;
      border-top: 1px solid orangered;

      .comments--main__comment__list__empty {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-family: EncodeSans-Semibold;
        color: var(--text-color-8);
      }
    }
  }
}
